@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
}
.gravatars {
  padding-top: 100px;
}
img:hover {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

img.is-highlighted {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

#root {
  margin: 0 auto;
  width: 720px;
}

/* modal */
.modal-content {
  position: fixed;
  display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.modal-content:target {
	opacity:1;
	pointer-events: auto;
}

.modal-content > div {
	width: 30%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px;
	border-radius: 5px;
	background: #fff;
}

#caption {
  text-align: center;
  font-size: 18px;
}

.close {
	background: #606061;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
  cursor: pointer; 
}

@media all and (min-width: 1024px) and (max-width: 1280px) { 
  .modal-content > div {
    width: 35%;
  }
}
 
@media all and (min-width: 768px) and (max-width: 1024px) {
  .modal-content > div {
    width: 40%;
  }
}
 
@media (max-width: 768px) { 
  header h1 {
    padding-left: 10px;
  }
  .gravatars {
    padding-left: 10px ;
  }
  .modal-content > div {
    width: 50%;
  }
}
